
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y color general */
body {
    font-family: Arial, sans-serif;
    background-color: #dfe70af0;
    color: #333;
    
}

/* Estilo del encabezado */
header {
    background-color: #005c6e; /* Color acorde a la identidad visual */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo de las secciones */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #005c6e;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #005c6e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #003d47;
}

/* Estilo del pie de página */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
